<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Mangement System</title>
</head>
<body>
    <h1>User Management System</h1>
    <a href="/users">Go To Users</a>
</body>
</html> -->

<%- include('./partials/header', {title : 'Home'}) %>

<div class="hero">
    <h1>User Management System</h1>
    <p>Create, Update and Delete Users Easily</p>

    <a href="/users" class="btn">
        View Users
    </a>
</div>

<%- include('./partials/footer') %>