/* body{
    font-family: Arial;
    padding: 20px;
}

button{
    padding: 10px;
    cursor: pointer;
} */ 


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

/* Navbar */

.navbar{
    background:#2563eb;
    color:white;
    padding:18px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    gap:20px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:500;
}

.nav-links a:hover{
    text-decoration:underline;
}

/* Container */

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:30px 0;
    flex:1;
}

/* Hero */

.hero{
    text-align:center;
    margin-top:100px;
}

.hero h1{
    font-size:48px;
    margin-bottom:15px;
}

.hero p{
    font-size:20px;
    color:#666;
    margin-bottom:30px;
}

/* Buttons */

.btn{
    background:#2563eb;
    color:white;
    text-decoration:none;
    padding:12px 24px;
    border-radius:8px;
}

.btn:hover{
    background:#1d4ed8;
}

/* Page Header */

.page-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

/* Cards */

.users-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card h2{
    margin-bottom:10px;
}

.card p{
    margin-bottom:8px;
}

/* Actions */

.actions{
    margin-top:15px;
    display:flex;
    gap:10px;
    align-items:center;
}

.edit-btn{
    text-decoration:none;
    background:#22c55e;
    color:white;
    padding:8px 15px;
    border-radius:6px;
}

.delete-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:6px;
    cursor:pointer;
}

.edit-btn:hover{
    background:#16a34a;
}

.delete-btn:hover{
    background:#dc2626;
}

/* Forms */

.form-container{
    max-width:500px;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.form-container h1{
    text-align:center;
    margin-bottom:20px;
}

.form-container form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.form-container input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

.form-container button{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
}

.form-container button:hover{
    background:#1d4ed8;
}

/* Footer */

.footer{
    background:#111827;
    color:white;
    text-align:center;
    padding:20px;
}